{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "env": {
        "node": true,
        "jest": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "airbnb-base",
        "prettier"
    ],
    "rules": {
        "no-console": 0,
        "no-plusplus": [2, { "allowForLoopAfterthoughts": true }]
    }
}
