{
    "tabWidth": 4,
    "singleQuote": true,
    "trailingComma": "none",
    "overrides": [
        {
            "files": ["*.json", "*.yml"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
